
@model OpenData.WebUI.Models.OpenDataSetsListViewModel

@*@model IEnumerable<OpenData.Domain.Entities.OpenDataSet>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}


    <aside id="filtersAside" class="left medium-3 columns">
      
        <div id="categories">
              
            <div id="Resume">
              Найдено: <br />
                @Model.PagingInfo.TotalItems наборов
             </div>   
        </div>
        
       
           

        
       
    </aside>
    
         
        <div id="datasetsDiv" class="medium-9 columns">
            <table width="100%" id="datasets_table">
        @*<caption><h3>РЕЕСТР НАБОРОВ ОТКРЫТЫХ ДАННЫХ</h3></caption>*@
    <thead style="border-bottom:1px solid;">
        <tr>
            <th>№</th>
            <th colspan="2">Наименование</th>
            <th>Категория</th>
            <th>ОИГВ</th>
            <th></th>
       </tr>
        
   </thead>
        <tbody>
            
      @{
          int count = (Model.PagingInfo.CurrentPage-1)*Model.PagingInfo.ItemsPerPage;
      }  
    
@foreach (var p in Model.OpenDataSets)
{
    ViewBag.Num =++count;
    Html.RenderPartial("OpenDataSummary", p);
}
    
</tbody>
</table>
    


<div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, categoryId = Model.CurrentCategoryID, authorityId=Model.CurrentAuthorityID }))
</div>

            <div class="noResult" style="display: none">
                Наборов данных в категории нет
            </div>
        </div>
    </div>
