<footer>
       @* <div class="terms">
            <label>Все права защищены | </label><a href="/about/terms">Условия использования</a>
        </div>
        <div class="support"><label>Техническая поддержка: </label><a href="mailto:opendata@mos.ru">opendata@mos.ru</a></div>*@
        @*<div class="share">
            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
            <label>Поделиться: </label><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,lj,gplus"></div> 
        </div>*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46716347-1', 'opendata.gov35.ru');
        ga('send', 'pageview');

</script>
</footer>
