<header>
    <div class="row">
        <div class="logo">
            @*<img alt="Портала открытых данных Вологодской области" src="~/img/шапка сайта.jpg"/>*@
            @*<h1><a href="/">Портал открытых данных<span>Вологодской области</span></a></h1>*@
        </div>
		<div class="clear"></div>
		<div class="search">
            <form action="/Search" method="GET">
                <table>
                    <tr>
                        <td><input type="text" id="text" name="text" placeholder="Поиск по материалам сайта" /></td>
                        <td><input type="submit" value="" title="Найти" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
   
</header>