<header>
    <div class="row">
       Портал открытых данных Вологодской области
		<div class="clear"></div>
		<div class="search">
            <form action="/Search" method="GET">
                <table>
                    <tr>
                        <td><input type="text" id="text" name="text" placeholder="jhfhjfhf" /></td>
                        <td><input type="submit" value="" title="Найти" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
   
</header>