<div id="datasetInfoPopup" class="requestCreation datasetInfoPopup">
        <img src=/img/closeform.png class="closeButton" onclick="hidePopupDatasetinfoWindow();">
        <div class="requestHead">Условия использования наборов данных</div>
        <div class="commentBody scroll_block">
            <p>
                Портал data.mos.ru является официальным порталом открытых данных правительства города Москвы. Все материалы портала data.mos.ru  являются открытыми данными, в соответствии с требованием постановлением  Правительства РФ N 583  от 10 июля 2013 г., и  могут быть воспроизведены в любых средствах массовой информации в информационно – телекоммуникационной  сети Интернет или на любых иных носителях без каких-либо ограничений по объему и срокам публикации. Это разрешение в равной степени распространяется на газеты, журналы, радиостанции, телеканалы, сайты и страницы сети Интернет. 
            </p>
            <p>
                Перепечатка или ретрансляция данных возможна при  условии ссылки на Портал открытых данных. Сведения  о коммерческих структурах города Москвы, представленные на портале data.mos.ru получены из открытого доступа, в т.ч. посредством сети интернет. Данные, о коммерческих структурах, размещенные на портале data.mos.ru, не являются рекламой, а имеют исключительно информативный характер. Данные о коммерческих структурах, размещенные на портале data.mos.ru, могут корректироваться администратором портала, на основании жалоб и обращений граждан, а также на основании информации, полученной своими силами и за свой счет.  
            </p>
            <p>
                Любой Пользователь портала, в случае обнаружения в предоставляемых данных, неточностей или ошибок, включая информацию о доступности объектов инфраструктуры  для людей с ограниченными возможностями вправе обратиться с жалобой в соответствии с установленным регламентом. Жалоба подается путем заполнения соответствующей формы на портале data.mos.ru
            </p>

        </div>
            <div class="commentButtons">
                <div class="cancelButton" onclick="hidePopupDatasetinfoWindow();">Закрыть</div>
            </div>

        </div>