@model OpenData.Admin.Models.LogOnModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login">
<fieldset>
    <legend>Вход</legend>
<p>Пожалуйста введите логин, пароль для входа в личный кабинет:</p>
@using(Html.BeginForm()) {
@Html.ValidationSummary(true)
@Html.EditorForModel()
<p><input type="submit" value="Войти" /></p>
}
</fieldset>
</div>

