@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}
<div>
<h2>О Портале</h2>

<p>Портал осуществляет свою работу в соответствии с постановлением Правительства Вологодской области от 25.11.2014 № 1185 "Об утверждении Положения о государственной автоматизированной информационной системе "Портал  открытых данных Вологодской области".</p>
<p>Если Вы заметили ошибки в в каком-либо наборе данных, размещение несуществующих данных и/или отсутствие имеющихся данных, сделайте двойной щелчок в месте ошибки (в случае отсутствия данных - любом месте набора данных), и Вам будет доступна форма обратной связи, 
заполнив и отправив которую, Вы уведомите хозяина набора данных о содержащейся ошибке.</p>
<p>Если у Вас возникли вопросы в части работы Портала Ваши замечания просим отсылать на адрес электронной почты: <a href="mailto:cit@gov35.ru">cit@gov35.ru</a></p>
<a href="~/docs/decree1185.pdf">Постановление Правительства Вологодской области от 25.11.2014 № 1185 "Об утверждении Положения о государственной автоматизированной информационной системе "Портал  открытых данных Вологодской области"</a>
    </div>
