@model IEnumerable<OpenData.Admin.Models.UserView>

@{
   //Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    Layout = null;
}

<table width="100%">
       
    <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>ОИГВ</th>
            <th>Логин</th>
             <th>Редактировать</th>
            
       </tr>
        
   </thead>
        <tbody>
            
      @{
          int count = 0;
      }  
    
@foreach (var u in Model)
{
    ViewBag.Num =++count;
    Html.RenderPartial("UserSummary", u);
}
    
</tbody>
</table>

<div>@Html.ActionLink("Создать администратора ОИГВ","CreateAuthorityAdmin")</div>
<div>@Html.ActionLink("Создать оператора набора данных","CreateOperator")</div>