<!DOCTYPE html>
<html>
<head>
    <meta name="sss" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
     @RenderBody()
    <h2>Наборы данных</h2>
    <div id="DataSets">
        @{ Html.RenderAction("DataSetList", "Admin"); }
    </div>
    <h2>Пользователи</h2>
    <div id="Users">
         @{ Html.RenderAction("UserList", "Admin", new {RoleId=2 }); }
    </div>
    <h2>Профиль</h2>
    <div id="Profile">
         @{ Html.RenderAction("Profile", "Admin"); }
    </div>    
  
</body>
</html>

